# https://hydra.cc/docs/configure_hydra/intro/

# enable color logging
defaults:
- override hydra_logging: colorlog
- override job_logging: null

# output directory, generated dynamically on each run
run:
  dir: logs/${task_name}/runs/${now:%Y-%m-%d}_${now:%H-%M-%S}
sweep:
  dir: logs/${task_name}/multiruns/${now:%Y-%m-%d}_${now:%H-%M-%S}
  subdir: ${hydra.job.num}

job_logging:
  version: 1
  formatters:
    simple:
      format: '[%(asctime)s][%(name)s][%(levelname)s] - %(message)s'
    colorlog:
      '()': colorlog.ColoredFormatter
      format: '[%(cyan)s%(asctime)s%(reset)s][%(blue)s%(name)s%(reset)s][%(log_color)s%(levelname)s%(reset)s] - %(message)s'
  handlers:
    console:
      class: logging.StreamHandler
      formatter: colorlog
      stream: ext://sys.stdout
    file:
      class: logging.FileHandler
      formatter: simple
      filename: ${hydra.runtime.output_dir}/${task_name}.log
  root:
    level: INFO
    handlers: [ console, file ]
  disable_existing_loggers: false
